<div th:fragment="form">
    <h2>Update Address</h2>
    <form th:hx-post="@{/admin/addresses/edit/{id}(id=${address.id})}"
          hx-target="#main-content"
          hx-swap="innerHTML">

        <div class="mb-3">
            <label class="form-label">Region</label>
            <input type="text" name="region" class="form-control" th:value="${address.region}">
        </div>

        <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" name="city" class="form-control" th:value="${address.city}">
        </div>

        <div class="mb-3">
            <label class="form-label">District</label>
            <input type="text" name="district" class="form-control" th:value="${address.district}">
        </div>

        <div class="mb-3">
            <label class="form-label">Street</label>
            <input type="text" name="street" class="form-control" th:value="${address.street}">
        </div>

        <div class="mb-3">
            <label class="form-label">Home number</label>
            <input type="text" name="homeNumber" class="form-control" th:value="${address.homeNumber}">
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-secondary"
                hx-get="/admin/addresses/get-all"
                hx-target="#main-content"
                hx-swap="innerHTML">Cancel</button>
    </form>
</div>
