<div th:fragment="form">
    <h2>Add User</h2>
    <form hx-post="/admin/users/create"
          hx-target="#main-content"
          hx-swap="innerHTML">

        <div class="mb-3">
            <label class="form-label">Firstname</label>
            <input type="text" name="firstName" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Lastname</label>
            <input type="text" name="lastName" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Phone number</label>
            <input type="text" name="phoneNumber" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Gender Index</label>
            <input type="number" name="genderIndex" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Birthday</label>
            <input type="date" name="birthday" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary"
                hx-get="/admin/users/get-all"
                hx-target="#main-content"
                hx-swap="innerHTML">Cancel</button>
    </form>
</div>
