<div th:fragment="content">
    <h2>Users</h2>
    <button class="btn btn-primary mb-3"
            hx-get="/admin/users/create"
            hx-target="#main-content"
            hx-swap="innerHTML">+ Add User</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th><th>Firstname</th><th>Lastname</th><th>Email</th><th>Phone</th><th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td>
                <button class="btn btn-sm btn-warning"
                        th:hx-get="@{/admin/users/edit/{id}(id=${user.id})}"
                        hx-target="#main-content"
                        hx-swap="innerHTML">Edit</button>
                <button class="btn btn-sm btn-danger"
                        hx-target="closest tr"
                        hx-swap="outerHTML"
                        th:onclick="|confirmDelete('users', ${user.id}, this)|">
                    Delete
                </button>
                <!--<button class="btn btn-sm btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#confirmDeleteModal"
                        th:hx-delete="@{/admin/users/delete/{id}(id=${user.id})}">
                    Delete
                </button>-->

            </td>
        </tr>
        </tbody>
    </table>
</div>