<div th:fragment="form">
    <h2>Update Seller</h2>
    <form th:hx-post="@{/admin/sellers/edit/{id}(id=${seller.id})}"
          hx-target="#main-content"
          hx-swap="innerHTML">

        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name="firstName" class="form-control" th:value="${seller.name}">
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" name="lastName" class="form-control" th:value="${seller.phoneNumber}">
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" name="description" class="form-control" th:value="${seller.description}">
        </div>

        <button type="submit" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-secondary"
                hx-get="/admin/sellers/get-all"
                hx-target="#main-content"
                hx-swap="innerHTML">Cancel</button>
    </form>
</div>
